{% extends 'basics.html' %}
{% block title%}Hospital registeration{% endblock %}

{% block css %}
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Balsamiq Sans', cursive;
   
}

.logo{
    color: #fff;
}
.navbar-custom{
    padding-top:5rem;
    padding-bottom: 5rem;
    background:rgb(255, 99, 71);
}
.container{
    width:220px;
    height:750px;
    background:#808080;
    background-image: url("https://image.freepik.com/free-photo/heart-hand-philanthropy_73523-1626.jpg");
    background-repeat: no-repeat;
    color:#;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding:70px 30px;
}
h2{
    margin:0;
    padding:0 0 20px;
    text-align:center;
    font-size:22px;
}

{% endblock %}
{% block body %}

    <div class="container">
        <div class="row register-form">
            <div class="col-md-8 offset-md-2">
                <form class="custom-form" style="margin-top: 30px;" method="post">
                    {% csrf_token %}
                    <h2>Hospital Registeration</h2>
                    <div class="form-row form-group" >
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Hospital Name </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="text" name="name" required="">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="email-input-field">Email </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="email" name="email" required="">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="pawssword-input-field">Password </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="password" name="password" required="">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="repeat-pawssword-input-field">Repeat Password </label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="password" name="repeatpassword" required="">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Phone Number</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <input class="form-control" type="tel" name="phonenumber" required="">
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Address</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <textarea class="form-control" name="address" required=""></textarea>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col-sm-4 label-column">
                            <label class="col-form-label" for="name-input-field">Blodd Samples</label>
                        </div>
                        <div class="col-sm-6 input-column">
                            <textarea class="form-control" name="address" required=""></textarea>
                        </div>
                    </div>
                    
                    <button type="button" class="btn btn-danger" href="login/">Register</button>
                </form>
            </div>
        </div>
        
    </div>


{% endblock %}
{% block js%}
<script>
{% if error %}
 alert('Try Again!'); 
 document.location = "/registerhospital";
{% endif %}
</script>
{% endblock %}